@import "../../styles/global";
@import "../../styles/variables";

.cst-select {
  display: flex;
  flex-direction: column;
  width: 300px;
  position: relative;

  &__button {
    @extend %select;

    font-size: 16px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    &::after {
      @extend %select-arrow;
    }
  }

  &__checkbox {
    margin-right: 5px;
  }

  &__item {
    margin-bottom: 10px;
  }

  &__label {
    color: $shakespeare;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 4px;
    text-transform: uppercase;
  }

  &__list {
    width: max-content;

    &-container {
      background: white;
      border: 2px solid $dark-gray;
      border-radius: 6px;
      display: none;
      left: 0;
      padding: 10px 16px;
      position: absolute;
      top: 0;
      transform: translateY(64px);
      z-index: 2;

      &--visible {
        display: block;
      }
    }
  }
}
