@import "../../styles/variables";
@import "../../styles/mixins";

.modal {
  background-color: $white;
  border: 4px solid $light-cornflower-blue;
  border-radius: 20px;
  display: block;
  height: calc(100% - 20px);
  left: 50%;
  max-width: 1440px;
  overflow: scroll;
  padding: 32px;
  position: fixed;
  top: 50%;
  transform: translate(-50%, -50%);
  width: calc(100% - 20px);
  z-index: 2;

  @include md-up {
    display: flex;
    gap: 20px;
    height: calc(100% - 40px);
    width: calc(100% - 40px);
  }

  @include md-up {
    height: calc(100% - 80px);
    width: calc(100% - 80px);
  }

  &__image-wrapper {
    border-radius: 5px;
    font-size: 0;
    overflow: hidden;
  }

  &__image {
    min-width: 220px;
  }

  &__content {
    @include md-up {
      display: flex;
      flex-direction: column;
    }
  }

  &__category {
    font-size: 11px;
    letter-spacing: 1px;
    margin-top: 24px;
    text-transform: uppercase;

    @include md-up {
      margin-top: 0;
    }
  }

  &__name {
    font-size: 28px;
    margin-top: 4px;

    @include md-up {
      min-width: 220px;
    }

    @include lg-up {
      min-width: 300px;
    }
  }

  &__price {
    border-bottom: 1px solid $dark-blue;
    font-size: 24px;
    font-weight: 100;
    padding-bottom: 12px;
  }

  &__description,
  &__availability {
    margin-top: 12px;
  }

  &__availability {
    font-size: 13px;
  }

  &__product-url {
    font-size: 14px;
    margin-top: 12px;
    text-decoration: underline;
  }

  &__ctas {
    align-items: flex-end;
    align-self: flex-end;
    display: flex;
    flex-grow: 1;
    margin-top: 2rem;
  }

  &__cart {
    background-color: $light-cornflower-blue;
    border: 1px solid $dark-blue;
    padding: 0.5rem 1rem;
    text-transform: uppercase;
    transition: all ease 0.3s;

    &:hover {
      background-color: $dark-blue;
      color: $light-cornflower-blue;
    }
  }

  &__close {
    color: $light-cornflower-blue;
    font-size: 20px;
    position: absolute;
    right: 10px;
    top: 10px;
  }

  &__overlay {
    background-color: rgba($dark-gray, 0.6);
    cursor: pointer;
    height: 100vh;
    left: 0;
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: 1;
  }
}