@import "./variables";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: "Kantumruy Pro", sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  background: none;
  border: none;
  cursor: pointer;
  font-family: "Kantumruy Pro", sans-serif;
}

body {
  background-color: $white;
}

li {
  list-style-type: none;
}

img {
  max-width: 100%;
}

.container,
%container {
  margin: 0 auto;
  max-width: 1440px;
}

%select {
  border: 2px solid $dark-gray;
  border-radius: 6px;
  color: $dark-gray;
  font-family: "Kantumruy Pro", sans-serif;
  font-size: 16px;
  height: 40px;
  margin-top: 3px;
  text-align: left;
  padding: 4px 16px 4px 8px;
}

%select-arrow {
  content: "";
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 4px solid;
  bottom: 20px;
  margin-left: 4px;
  position: absolute;
  right: 7px;
}
