@import "./variables";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: "Kantumruy Pro", sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  background: none;
  border: none;
  cursor: pointer;
  font-family: "Kantumruy Pro", sans-serif;
}

body {
  background-color: $white;
}

li {
  list-style-type: none;
}

img {
  max-width: 100%;
}

.container,
%container {
  margin: 0 auto;
  max-width: 1440px;
}

.hidden {
  display: none;
}