@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';

.about {
    background-color: $middle-red;
    padding: 30px;
    text-align: center;

    &__note {
        margin-top:10px;

        &-title{
            color: $white;
            font-weight: 600;
        }
    }

    &__title {
        color: $white;
        font-size: 3rem;
        margin: 2rem;
    }
}