@import "../../styles/variables";
@import "../../styles/mixins";

.about {
  background-color: $white;
  padding: 60px 30px;
  text-align: center;

  &__list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    &-item {
      margin: 20px;
      max-width: 220px;
      transition: all 0.2s ease-in;

      &:hover {
        transform: scale(1.05);
      }
    }
  }

  &__step {
    &-description {
      font-size: 18px;
    }

    &-title {
      color: $middle-red;
      font-size: 5em;
      font-weight: 700;
      user-select: none;
    }
  }

  &__title {
    color: $middle-red;
    font-size: 3rem;
    line-height: 3rem;
    margin: 0 2rem 2rem;
  }
}
