@import '../../styles/mixins.scss';
@import '../../styles/variables.scss';

.navigation {
    background: $primary;
    width: 100%;

    &--fixed {

    }

    &__item {
        color: $background;
        font-size: 18px;
        padding: 15px;
    }

    &__list {
        display: flex;
        justify-content: flex-end;
        margin: 0 auto;

        @include md-up {
            padding: 0 35px;
        }

        @include lg-up {
            padding: 0 65px;
        }
    }
}