@import "../../styles/variables";

.nav {
  padding: 20px;
  position: fixed;
  width: 100%;

  &__cart {
    background: $middle-red;
    border-radius: 10px;
    color: $white;
    display: flex;
    align-items: center;
    padding: 6px 14px;

    &-img {
      height: 20px;
      margin-right: 5px;
    }

    &-num {
      font-size: 18px;
    }
  }

  &__list {
    display: flex;
    justify-content: end;
  }
}
