@import "../../styles/variables";
@import "../../styles/mixins";

.shopping-cart {
  background: $white;
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 30px;
  position: fixed;
  right: 0;
  transition: transform 0.7s ease;
  transform: translateX(100%);
  width: 100%;
  z-index: 2;

  @include md-up {
    width: 500px;
  }

  &--open {
    transform: none;
  }

  &__close {
    color: $light-cornflower-blue;
    font-size: 25px;
    font-weight: bold;
    justify-self: end;
  }

  &__content {
    flex-grow: 1;
  }

  &__button {
    background: $middle-red;
    border-radius: 4px;
    box-shadow: rgb(0 0 0 / 15%) 1.95px 1.95px 2.6px;
    color: $white;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 15px;
  }

  &__header {
    display: grid;
  }

  &__item {
    font-size: 1.1rem;
    margin-bottom: 15px;
  }

  &__overlay {
    background: rgb(213 213 213 / 40%);
    height: 100%;
    opacity: 0;
    transition: opacity 0.7s ease;
    width: 100%;

    &--open {
      opacity: 1;
      position: fixed;
      z-index: 1;
    }
  }

  &__title {
    border-bottom: 1px solid $light-cornflower-blue;
    color: $light-cornflower-blue;
    font-family: Rubik, sans-serif;
    font-size: 2rem;
    margin-bottom: 20px;
  }
}