@import "../../styles/variables";
@import "../../styles/mixins";

.shopping-cart {
  background: $white;
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 30px;
  position: fixed;
  right: 0;
  width: 100%;
  z-index: 2;

  @include md-up {
    width: 500px;
  }

  &__close {
    &::after {
      content: "";
      background: black;
      font-size: 1.5em;
      height: 2px;
      position: absolute;
      right: 30px;
      top: 30px;
      transform: rotate(-45deg);
      transition: transform 0.3s ease;
      width: 20px;
    }

    &::before {
      content: "";
      background: black;
      font-size: 1.5em;
      height: 2px;
      position: absolute;
      right: 30px;
      top: 30px;
      transform: rotate(45deg);
      transition: transform 0.3s ease;
      width: 20px;
    }

    &:hover {
      &::after {
        transform: rotate(45deg);
      }

      &::before {
        transform: rotate(-45deg);
      }
    }
  }

  &__content {
    flex-grow: 1;
  }

  &__button {
    background: $middle-red;
    border-radius: 4px;
    box-shadow: rgb(0 0 0 / 15%) 1.95px 1.95px 2.6px;
    color: $white;
    display: flex;
    align-items: center;
    padding: 10px 15px;
    width: fit-content;
  }

  &__footer {
    align-self: flex-end;
  }

  &__item {
    font-size: 1.1rem;
    margin-bottom: 15px;
  }

  &__overlay {
    background: rgb(213 213 213 / 40%);
    height: 100%;
    position: fixed;
    width: 100%;
    z-index: 1;
  }

  &__title {
    border-bottom: 1px solid $light-cornflower-blue;
    color: $light-cornflower-blue;
    font-family: Rubik, sans-serif;
    font-size: 2rem;
    margin-bottom: 20px;
  }
}