@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';

.header {
    background: $white;
    max-height: 800px;
    height: 100vh;

    &__container {
        display: flex;
        align-items: center;
        flex-direction: column-reverse;
        justify-content: center;
        height: 100%;
        padding: 15px;


    @include md-up {
        flex-direction: row;
        padding: 30px;
    }
    }

    &__content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        text-align: center;

        @include md-up {
            align-items: flex-end;
            flex-basis: 50%;
            text-align: left;
        }
    }

    &__cta {
        background: $middle-red;
        box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
        color: white;
        font-weight: 600;
        margin-top: 20px;
        padding: 10px 15px;
    }

    &__image {
        transition: transform 0.1s ease-in-out;

        &-container {
            @include md-up {
                flex-basis: 50%;
            }
            
        }
    }

    &__title{
        color: $middle-red;
        font-family: 'Satisfy', cursive;
        font-size: 4em;
        text-align: right;
        text-shadow: 2px 2px 1px rgb(173 173 173 / 37%);

        @include md-up {
            font-size: 5em;
        }

        @include lg-up {
            font-size: 7em;
        }
    }
}