@import "../../styles/variables";

.footer {
  align-items: center;
  background-color: $middle-red;
  color: $white;
  display: flex;
  justify-content: center;
  padding: 1rem;
  text-align: center;

  &__anchor {
    text-decoration: underline dotted;
    text-underline-offset: 2px;
  }

  &__icon {
    font-size: 1.4rem;
    padding: 0 0.5rem;
  }
}
