@import "../../styles/global";
@import "../../styles/mixins";
@import "../../styles/variables";

.filters {
  margin: 0 auto 20px;
  width: fit-content;

  &__form {
    display: flex;
    flex-direction: column;

    & > :not(:last-child) {
      margin-bottom: 12px;
    }

    @include md-up {
      flex-direction: row;

      & > :not(:last-child) {
        margin-bottom: 0;
        margin-right: 20px;
      }
    }
  }

  &__label {
    color: $shakespeare;
    display: inline-grid;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    width: 100%;
  }

  &__select {
    @extend %select;

    appearance: none;

    &-wrapper {
      display: flex;
      position: relative;

      &::after {
        @extend %select-arrow;
      }
    }
  }
}
